<%= form.label position, position.upcase, class: "col-md-#{label_size} control-label" %>
<div class='col-md-2'>
  <%= form.text_field position, class: 'form-control', value: @league.positions[position], autocomplete: 'off' %>
</div>