<%= render 'layouts/notices' %>

<div class='container'>
  <div class='row'>
    <div class='jumbotron bg-primary col-md-offset-2 col-md-12'>
      <h1>Welcome to Gridiron Guru!</h1>
      <p>Gridiron Guru is a free, fully featured fantasy football draft client. It has all the features your league needs to have an awesome live draft. Create a league to get started now!</p>
      <div class='col-md-offset-5 col-md-6'>
        <%= link_to "Create your league!", new_league_path,
                    class: 'btn btn-default btn-block btn-lg' %>
      </div>
    </div>
  </div>
</div>