nav.navbar {
  margin-bottom: 0px;
}

.btn-primary {
  background-color: #1192D3 !important;
}

.jumbotron {
  margin-top: 15px;
}

i.fa {
  margin-right: 10px;
}

.jumbotron p.help-block {
  color: #737373;
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}